doctype html
html
    head
        style 
            include style.css
    body
        div(class="header")
            center
                img(src="https://i.imgur.com/9q8mPY3.png" class='logo')
        div(class="box")
            div(class="icon") 
                center
                    img(src="https://i.ibb.co/tpD3Qd6/font-awesome-4-7-0-envelope-o-463-9-007dff-none.png")
            div(class="text") 
                p Hi #{name},
                p You are receiving this because you (or someone else) requested password reset for your account. Use the following link to reset your password. If you did not make this request please ignore this email. This link will expire in #{validity} hours.
            div(class="text")
                a(href = `${process.env.REACT_SERVER}/reset-password?resettoken=${token}`)
                    button(type="button")  Reset Password
            div(class='text')
                p Thank You,
                a(href='ineedmentor.com')
                    p ineedmentor.com
        div(class="footer")
            br
            p
            p