doctype html
html
    head
        style 
            include style.css
    body
        div(class="header")
            center
                img(src="https://i.imgur.com/9q8mPY3.png" class='logo')
        div(class="box")
            div(class="icon") 
                center
                    img(src="https://i.ibb.co/tpD3Qd6/font-awesome-4-7-0-envelope-o-463-9-007dff-none.png")
            div(class="text") 
                p Hello #{name},
                p You're almost ready to start.
                p Click the button below to verify your email address.
            div(class="text")
                a(href = `http://${host}/api/v1/auth/verifyemail/?token=${token}`) 
                    button(type="button")  Verify
            div(class='text')
                p This verification link expires in #{validity} hours. Please verify soon.
                p Thank You,
                a(href='ineedmentor.com')
                    p ineedmentor.com
        div(class="footer")
            br
            p
            p