doctype html
html
    head
        style 
            include style.css
    body
        div(class="header")
            center
                img(src="https://i.imgur.com/9q8mPY3.png" class='logo')
        div(class="box")
            div(class="icon") 
                center
                    img(src="https://i.ibb.co/tpD3Qd6/font-awesome-4-7-0-envelope-o-463-9-007dff-none.png")
            div(class="text") 
                p Hello #{name} ,
                p You have been registered for the workshop.
                p You will receive a confirmation mail in few days.
            div(class='text')
                a(href='ineedmentor.com')
                    p ineedmentor.com
        div(class="footer")
            br
            p
            p